/* ========================= */
/* 🌤 Welcome Section */
/* ========================= */

.wlcm {
  height: 100vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(3, 9, 59, 0.596), rgba(0, 0, 0, 0.25)),
    url("../../Images/Weather.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  
}

/* ========================= */
/* 📝 Text Overlay */
/* ========================= */

.wlcm-content {
  max-width: 600px;
 margin-left: 100px;
  color: white;
}

/* Heading */
.wlcm-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  font-style: italic;
  font: bold;
  

}

/* Subtitle */
.wlcm-content p {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 30px;
  font-style: italic;
  font: bold;
}

/* Button */
.wlcm-content button {
  background-color: #2563eb;
  border-radius: 30px;
  padding: 14px 34px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.wlcm-content button:hover {
  background-color: #1d4ed8;
    transform: translateY(-2px);
}

/* ========================= */
/* 🎬 Animations */
/* ========================= */

.fade-up {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeUp 0.8s ease forwards;
}

.delay {
  animation-delay: 0.3s;
}

.delay2 {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========================= */
/* 📱 Mobile */
/* ========================= */

@media (max-width: 768px) {
  .wlcm {
    justify-content: center;
    text-align: center;
  }

  .wlcm-content {
    margin-left: 0;
    padding: 0 20px;
  }

  .wlcm-content h1 {
    font-size: 2rem;
  }

  .wlcm-content p {
    font-size: 1rem;
  }
}
