/* ========================= */
/* 🌌 Welcome Section */
/* ========================= */

.wlcm {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  color: white;

  /* Navy Blue + Black Background */
  background-image: url(../../Images/weather.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* ========================= */
/* 📝 LEFT TEXT */
/* ========================= */

.wlcm-content {
  max-width: 520px;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.wlcm-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.wlcm-content p {
  font-size: 1.2rem;
  opacity: 0.85;
  margin-bottom: 30px;
}

.wlcm-content button {
  background-color: #1e3a8a;
  border-radius: 30px;
  padding: 14px 36px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
  
}

.wlcm-content button:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

/* ========================= */
/* ❄ RIGHT ICON */
/* ========================= */

.wlcm-icon img {
  width: 100%;
  max-width: 100%;
  opacity: 0.95;
}

/* ========================= */
/* 📱 Mobile */
/* ========================= */

@media (max-width: 768px) {
  .wlcm {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .wlcm-content {
    margin-bottom: 40px;
  }

  .wlcm-content h1 {
    font-size: 2rem;
  }

  .wlcm-content p {
    font-size: 1rem;
  }

  .wlcm-icon img {
    display: none;
  }
}
