/* index.css */
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* This kills the outer scrollbar */
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  background: linear-gradient(135deg, #46485375, #051570);
  font-family: Arial, sans-serif;
}