/* index.css */
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html, body, #root {
  min-height: 100vh; /* Allow growth */
  height: auto;      /* Unlock the height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent sideways shaking */
  overflow-y: auto;   /* Enable the main scrollbar */
}

body {
  background: linear-gradient(135deg, #46485375, #051570);
  background-attachment: fixed; /* Keeps background still while you scroll */
  font-family: Arial, sans-serif;
  color: white;
}